<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__title">HEADER</div>
                <video style="width:100vw; max-width:100%" controls >
                    <source src="../img/mov_bbb.mp4" type="video/mp4">
                </video>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rVM7YEppUaU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            </div>
        </div>
    </div>
</header>