.header{
    background-color: red;
    color: #fff;
    &__title{
        color: aqua;
        font-size: 40px;
    }
}
.ytp-large-play-button-red-bg .ytp-large-play-button-bg {
    fill: rgb(66, 231, 15) !important;
    fill-opacity: 1 !important;
}